#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#label-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 60px;
  margin: 8px;
}

#label-wrapper > label {
  text-align: right;
}

#loading {
  margin: auto auto;
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif;
}