:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --main-bg-color: rgb(186, 196, 225);
  --main-color: rgb(127, 150, 218);
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(rgba(32, 178, 170, 0.1) 25%, transparent 0),
    radial-gradient(rgba(32, 178, 170, 0.1) 25%, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #f9f9f9; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--main-color);
}
select:focus,
input:focus,
button:focus,
button:focus-visible {
  outline: 4px auto var(--main-color);
}

button + button {
  background-color: rgb(173, 56, 58);
  color: white;
}

td > button {
  font-size: 0.8em;
}

select {
  margin: 8px 0;
  padding: 4px;
  min-width: 158px;
}

tr {
  background-color: #fff8;
}

tr:nth-of-type(even) {
  background-color: rgba(32, 178, 170, 0.5);
}

th {
  font-size: 0.9rem;
  font-weight: 400;
  background-color: rgba(32, 178, 170, 0.8);
  border-bottom: 1px solid lightseagreen;
  border-right: 1px solid lightseagreen;
  min-width: 60px;
}

td {
  border-bottom: 1px solid rgba(32, 178, 170, 0.8);
  border-right: 1px solid rgba(32, 178, 170, 0.8);
}

td:first-of-type {
  border-left: 1px solid rgba(32, 178, 170, 0.8);
}

td:nth-of-type(1),
td:nth-of-type(5),
td:nth-of-type(6),
td:nth-of-type(7) {
  font-size: 0.8em;
}
